<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Practicas</a></li>
            <li class="breadcrumb-item"><a></a></li>
        </ol>
    </nav>

    <button id="" type="button" class="btn btn-sm btn-success btn-block"><i class="fa fa-plus"
                                    aria-hidden="true"></i>Principal</button>